@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekan";
  src: url("https://db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.eot");
  src: url("https://db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.svg#IRANYekan")
      format("svg");
}

body {
  margin: 0;
  font-family: "IRANYekan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "pnum" on, "lnum" off;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
